<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.4">
  <display-name>Webjure</display-name>
    
  <context-param>
    <param-name>shell</param-name>
    <param-value>127.0.0.1:27272</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>webjure</servlet-name>
    <servlet-class>webjure.servlet.WebjureServlet</servlet-class>
    <init-param>
      <!-- This is the clojure script that is loaded on startup (after webjure init script),
           it is loaded using the ClassLoader so it should be in WEB-INF/classes or 
	   in a .jar file in WEB-INF/lib 

           If you just want to play with the shell, you can omit this entirely
	   and no startup script will be loaded.
      -->
      <param-name>startup</param-name>      
      <param-value>demos.clj</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>webjure</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>
