<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.4">
  <display-name>Webjure</display-name>
    
  <context-param>
    <param-name>shell</param-name>
    <param-value>127.0.0.1:27272</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>webjure</servlet-name>
    <servlet-class>webjure.servlet.WebjureServlet</servlet-class>

    <!-- This is the clojure script that is loaded on startup (after webjure init),
         it is loaded using the ClassLoader so it should be in WEB-INF/classes or 
	 in a .jar file in WEB-INF/lib 

	 Note this is only used for source scripts, use startupNamespace for AOT
	 namespaces to initialize.
    <init-param>      
      <param-name>startup</param-name>      
      <param-value>demos.clj</param-value>
    </init-param>

    -->

    <!-- Names the namespace to load when initializing -->
    <init-param>
      <param-name>startupNamespace</param-name>
      <param-value>webjure.demos</param-value>
    </init-param>

  </servlet>

  <servlet>
    <servlet-name>default</servlet-name>
    <servlet-class>org.mortbay.jetty.servlet.DefaultServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/resource/*</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>webjure</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>
